DEVICE_INIT = true
TEMP_UNIT = cel
TVOC_UNIT = mg/m3
CITY_AUTO = true
CITY_ID = 57cfc27188d7ffab7079ec89
CITY_NAME_EN = Beijing
CITY_NAME_SC = 北京
CITY_NAME_TC = 北京
SUNRISE_TIME = 04:57
SUNSET_TIME = 19:23
SUN_INIT = true
DEVICE_ID = testPC_2412F
DEVICE_SN = testPC
DEVICE_MAC = 00:0C:29:76:47:D0
DEVICE_MODEL = Bran
MIIO_DID = 
MIIO_MAC = 
MIIO_KEY = 
TOKEN = eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhZG1pbiI6ZmFsc2UsImRlYnVnIjpmYWxzZSwiZXhwIjoxNDk1NTk0MzAwLCJ2IjowLCJkIjp7ImRldmljZV9pZCI6InRlc3RQQ18yNDEyRiIsImV4cF90aW1lIjoxNDk1NTk0MzAwLCJzbiI6InRlc3RQQyIsInVpZCI6InRlc3RQQyIsImZyb20iOiJkZXZpY2UifSwiaWF0IjoxNDk0OTg5NTAwfQ.BMOvcx6wVvSJX0TpFmwth7DgCzK085wml3O_gHiZr9s
EXP_TIME = 1495594240
LIGHT_AUTO = true
LIGHT_VALUE = 0
TIME_INIT = true
TIME_AUTO = true
TIME_MODE = mode_24
TIME_ZONE = Asia/Shanghai
LANGUAGE_INIT = true
LANGUAGE = 
NIGHT_MODE = mode_sun
NIGHT_AUTO = true
NIGHT_START_TIME = 20:00
NIGHT_END_TIME = 6:00
WIFI_MAIN_PAGE = true
SYS_ENTER = false
SYS_INIT = false
APP_BIND_STATUS = 0
SOFTWARE_UPGRADE = true
PM25_SAMPLING_CHARGING = 15
PM25_SAMPLING_DISCHARGING = 30
SCREEN_OFF_CHARGING = never
SCREEN_OFF_DISCHARGING = 5
DOUBLE_CLICK_CHECKING = false
VERTICAL_SCREEN_REFRESH = true
